@page "/completion"
@using Client.Services
@using System.Text
@inject IOpenAIService IOpenAIService

<div class="container">
    <h1 class="text-3xl">OpenAI APIコンプリーションリクエスト</h1>
    <textarea id="prompt" class="border" placeholder="リクエストのプロンプトを入力してください" @bind="prompt"></textarea>
    <button @onclick="CompleteRequestAsync" class="bg-blue-500 hover:bg-blue-600 text-white font-semibold py-2 px-4 rounded">リクエストを送信</button>
    <div id="result" class="bg-gray-100 p-4 mt-4">@result</div>
</div>

@code {
    private string? prompt;
    private string? result;

    private async Task CompleteRequestAsync()
    {
        if (string.IsNullOrWhiteSpace(prompt)) return;
        result = string.Empty;
        try
        {
            result = await IOpenAIService.GetCompletionAsync(prompt);
        }
        catch (Exception ex)
        {    var stringBuilder = new StringBuilder();
            while (ex != null)
            {
                stringBuilder.AppendLine($"Exception Type: {ex.GetType().FullName}");
                stringBuilder.AppendLine($"Message: {ex.Message}");
                stringBuilder.AppendLine($"Stack Trace: {ex.StackTrace}");

                ex = ex.InnerException;
                if (ex != null)
                {
                    stringBuilder.AppendLine("Inner Exception:");
                }
            }

            result = stringBuilder.ToString();
        }
    }
}